button {
    border:none;
    background:none;

 }
 
 .images{
     position: absolute;
     transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
 }
 
 .imgsection{
     position: relative;
     overflow: hidden;
     height: 494px;
     margin: 0px auto;
 }
 .buttons{
     display: flex;
     justify-content: space-between;
     position: relative;
     bottom: 250px;
     padding:0px 10px;
 }